.EmployeeHeader {
   
    min-height: 5vh;
    font-size: calc(20px + 2vmin);
    color: #00cca3;
    margin-right: 52%;
    margin-top: -10px;
    /* margin-bottom: 11px; */
  }
  
  
  
  .Title {
   
    min-height: 5vh;
    font-size: calc(20px);
    color: #00cca3;
    margin-right: 35%;
    margin-top: 30px;
    margin-bottom: 1px;
  
  }
  hr { 
    
    width: 100%;
    margin-top: -1px;
    margin-bottom: 0.5em;
    border-width: 1px;
  } 