



	.payroll_button_div{
		justify-content: space-evenly;
		align-content: space-around;
	}


	.payroll_buttons{
	align-content: center;
	justify-content: space-evenly;
	}

	.payTitle {
		min-height: 5vh;
		font-size: calc(20px);
		width: 80%;
		margin-top: 30px;
		margin-bottom: 1px;
		float: left;
	}
	
	.hr {
		width: 100%;
		border: 0;
		height: 2px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}


	.payTable{
		width: 85%; 
	}

	.PayrollTabs{
		margin-left: 8%;
		width: 85%;
	}


	.Button {
		margin-left: 60%; 
		margin-bottom: 60px;
		width: 15%;
		height: 10%;
		float: right;
	} 