

.CircularProgressbar .CircularProgressbar-path {
  transition: none;
  stroke: #3e98c7;
    stroke-linecap: round;
}

.text{
  text-align: center;
}

.CircularProgressbar .CircularProgressbar-trails {
  
}
