.container{
    display: flex;
    /* justify-content: center; */
    font-family: 'Kanit', sans-serif;
    padding: 3%;
    margin-left: 15%;
    padding-top: 3%;
}

.emailDash{
      /* padding-left: 9%; */
      border-radius: 25px;
      /* padding-right: 12%; */
      background-color: #ffffff;
      margin-top: 5%;
      width: 300px;
      height: 510px;
  }


.chartcalDash{
    margin: 0px 15px 0px 15px;
    /* padding-left: 40px; */
}

.chartDash{
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 13%;
    /* width: 18%; */
    display: flex;
    height: 26%;
    flex-direction: row;
}

/* .calDash{
    padding-top: 20%;
} */
.eventDash{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* padding: 20px; */
    margin-top: 5%;
    /* padding-top: 55px*/
}

.activeDash{
    border-radius: 25px;
    background-color: #ffffff;
    padding: 20px;
    height: 231px;
    margin: 2px;
    margin-bottom: 16%;
    width: 300px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .textbox { /*inside box*/
    margin-left: 13px;
    margin-top: 15px;
    font-size: 20px;
  }

  .hr{
    margin-top: 9px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    }
  