.container{
    display: flex;
    justify-content: center;
    position: absolute;
    font-family: 'Kanit', sans-serif;
}

.emailDash{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin-left: 7%;
    margin-top: 7%;
    width: 18%;
}

.emailDash .Chart{
    
}