.main{
   background: url("../../../images/bg.png");
   height: 100%;
   width: 100%;
   /* background-position: center; */
   background-repeat: no-repeat;
   background-size: cover;
   position: fixed;
   text-align: center;
   justify-content: center;

}

.LoginContainer{
   position: relative;
   margin: 8% auto;
   width: 85%;
   height:  70%;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}

.left-box
{
   background: url("../../../images/blue.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   box-sizing: border-box;
   padding: 40px;
   width: 72%;
   height:  100%;
}

.left-text
{
   margin-top:10%;
   margin-left: 10%;
   display: block;
   font-size: 35px;
   color: #fff;
   text-align: left;
}

.right-box
{
   position: absolute;
   top: 0;
   right: 0;
   box-sizing: border-box;
   padding: 40px;
   width: 28%;
   height: 100%;
   background: url("../../../images/abstract-building.jpg");
   background-size: cover;
   background-position: center;
}

.right-box .signinwith
{
   font-family: qtquickcontrols;
   font-style: bold;
   display: block;
   margin-top: 30%;
   margin-bottom: 40px;
   font-size: 28px;
   color:#41638E;
   text-align: left;
   text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


/* .leftside{
   z-index: 1;
   height: 4%;
   margin-top: 8%;
   margin-left: 20%;
   width: 60%;
  
    
} */

/* .rightside{
   z-index: 1;
   height: 10%;
   margin-top: 15%;
   margin-left: 20%;
   width: 10%;
   border-radius: 25px;
  
}

/* .grid{
   border-radius: 25px;
} */ 